DATA STRUCTURE

LIST, TUPLE, SET, DICTIONARY

In [1]:
#1
L = [ 1, 3, 4.9, "name", 3]
T = ( 1, 3, 4.9, "name", 3)
S = { 1, 3, 4.9, "name", 3}
D = { 23 : "TWOTHREE", 'B' : 43, 'C' : 'CCO'}

In [2]:
print ("The type of L is ", type (L))
print ("The type of T is ", type (T))
print ("The type of L is ", type (S))
print ("The type of L is ", type (D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of L is  <class 'set'>
The type of L is  <class 'dict'>

In [3]:
#2
print(L[1])
print(T[1])
print (3 in S)
print (D[23])

3
3
True
TWOTHREE

In [4]:
#3 Update
#List
L

[1, 3, 4.9, 'name', 3]

In [5]:
L[1:3]

[3, 4.9]

In [6]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [7]:
L = L + ["how", "are", 6, "you"]

In [8]:
L.append (6.8)

In [9]:
#Truple
T

(1, 3, 4.9, 'name', 3)

In [10]:
T[:3]

(1, 3, 4.9)

In [11]:
T2 = ('a', 'b', 45)
T3 = T + T2

In [12]:
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [13]:
#SET
S

{1, 3, 4.9, 'name'}

In [14]:
S.add(56)

In [15]:
S

{1, 3, 4.9, 56, 'name'}

In [16]:
S.update({23, 'game',1})

In [17]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [18]:
#Dictionary 
D

{23: 'TWOTHREE', 'B': 43, 'C': 'CCO'}

In [19]:
D['newKey'] = "NewValue"

In [20]:
D

{23: 'TWOTHREE', 'B': 43, 'C': 'CCO', 'newKey': 'NewValue'}

In [21]:
#4 Delete
#L
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [22]:
del L[6]

In [23]:
#SET
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [24]:
S.remove ('game')

In [25]:
#Dictionary
D

{23: 'TWOTHREE', 'B': 43, 'C': 'CCO', 'newKey': 'NewValue'}

In [26]:
del D['C']

In [27]:
#Copy
#Konsep
L

[1, 3, 4.9, 'name', 3, 'how', 6, 'you', 6.8]

In [28]:
L2 = L

In [29]:
#maka nilai L2 akan sama dengan L setelah update maka untuk mebedakan menggunakan copy

In [30]:
L2 [2] = "four point nine"

In [31]:
L2

[1, 3, 'four point nine', 'name', 3, 'how', 6, 'you', 6.8]

In [32]:
L

[1, 3, 'four point nine', 'name', 3, 'how', 6, 'you', 6.8]

In [33]:
L2 = L.copy()

In [34]:
L2 [2] = "TEST"

In [35]:
L2

[1, 3, 'TEST', 'name', 3, 'how', 6, 'you', 6.8]

In [36]:
L

[1, 3, 'four point nine', 'name', 3, 'how', 6, 'you', 6.8]

#List, Tuple, Set, Dictionary in Inside

In [37]:
D2 = {'A': L, 'B' : T, 'C' : S, 'D' : D}
print (D2)

{'A': [1, 3, 'four point nine', 'name', 3, 'how', 6, 'you', 6.8], 'B': (1, 3, 4.9, 'name', 3), 'C': {1, 3, 4.9, 'name', 23, 56}, 'D': {23: 'TWOTHREE', 'B': 43, 'newKey': 'NewValue'}}

In [38]:
D2['A'][3]

'name'

In [39]:
K = D2['D']

In [40]:
K

{23: 'TWOTHREE', 'B': 43, 'newKey': 'NewValue'}

In [41]:
for x in K:
    print (x,K[x])

23 TWOTHREE
B 43
newKey NewValue

In [42]:
L3 = [x**2 for x in range (10)]

In [43]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
S3 = { x**2 for x in range (2, 20, 3)}

In [45]:
S3

{4, 25, 64, 121, 196, 289}

"""Let say you are teacher and you have different student records 
containing id of student and the marks list in each subject where different students have taken different 
number of subject. All these records are in hard copy. you want to enter all data in computer and want to compute
the averae of each students and display
"""

In [51]:
def GetDataFromUser () :
    D = {}
    while True :
        studentId = input ("enter student ID :")
        marksList = input ("enter the marks by comma separated values :")
        morestudents = input('enter "no" to quit insertion :')
        if studentId in D :
            print(studentId, 'Is Already Inserted')
        else : 
            D[studentId] = marksList.split(",")
        if morestudents.lower() == 'no':
            return D

In [52]:
StudentData = GetDataFromUser ()

enter student ID : 12
enter the marks by comma separated values : 56,45,13
enter "no" to quit insertion : asdf
enter student ID : 45
enter the marks by comma separated values : 44,55,66,77,4
enter "no" to quit insertion : asdf
enter student ID : 12
enter the marks by comma separated values : 45,45
enter "no" to quit insertion : asdf

12 Is Already Inserted

enter student ID : 23
enter the marks by comma separated values : 45,45
enter "no" to quit insertion : no

In [53]:
StudentData

{'12': ['56', '45', '13'],
 '45': ['44', '55', '66', '77', '4'],
 '23': ['45', '45']}

In [57]:
def GetAvgMarks(D) :
    avgMarks = {}
    for x in D :
        L = D[x]
        s = 0
        for marks in L :
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [58]:
avgM = GetAvgMarks (StudentData)

In [59]:
for x in avgM :
    print("Student :",x, "got avg Marks as :", avgM[x])

Student : 12 got avg Marks as : 38.0
Student : 45 got avg Marks as : 49.2
Student : 23 got avg Marks as : 45.0