In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\Personal\Learning\Jupyter Project\sample.csv")

In [4]:
df.head()

      Tanggal  Produk  Jumlah     Harga     Total
0  2025-01-01  Laptop       2  15000000  30000000
1  2025-01-02      HP       5   3000000  15000000
2  2025-01-03  Tablet       3   5000000  15000000
3  2025-01-04  Laptop       1  16000000  16000000
4  2025-01-05      HP       4   2800000  11200000